{
  "root": true,
  "env": {
    "node": true,
    "es2020": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:import/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-void": "off",
    "no-underscore-dangle": "off",
    "no-console": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "arrow-body-style": "off",
    "no-useless-constructor": "off",
    "no-extend-native": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/no-shadow": "off",
    "max-len": "off"
  }
}
